.engage-1 {
  background-image: url(../../Images/e1.png);
}
.engage-2 {
  background-image: url(../../Images/e2.png);
}
.engage-3 {
  background-image: url(../../Images/e3.png);
}
.engage-text {
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.engage-text p {
  margin: 0;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  max-width: 400px;
  margin-top: auto;
}
/* @media (min-width: 768px) and (max-width: 991px) {
  .engage-text p {
    margin: 0;
    font-size: 20px;
    line-height: 25px;
  }
} */
