.footer-area {
  background-color: #111111;
}

.footer-area li {
  padding-bottom: 10px;
}
.footer-single-widget h5 {
  /* color: #9f9f9f; */
  color: #fff;
}
.footer-single-widget p {
  color: #9f9f9f;
}
.side-column h6 {
  color: #9f9f9f;
}
.side-column li {
  color: #fff;
}
.social-media li a {
  width: 30px;
  height: 30px;
  background: #211f20;
  display: inline-block;
  border-radius: 34px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 29px;
}
.social-media .active-icon {
  background-color: #1d3d3d;
  color: white;
}
.icon:hover {
  background-color: #1d4d4d;
  color: white;
}
